
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="form-group">
            <input name="name" #ame="ngModel" [(ngModel)]="customerService.formData.name" class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group">
            <input name="address" #ame="ngModel" [(ngModel)]="customerService.formData.address" class="form-control" placeholder="Address">
        </div>
        <div class="form-group">
            <input name="phoneNumber" #ame="ngModel" [(ngModel)]="customerService.formData.phoneNumber" class="form-control" placeholder="PhoneNumber">
        </div>
        <div class="form-group">
            <input name="rate" #ame="ngModel" [(ngModel)]="customerService.formData.rate" class="form-control" placeholder="Rate" required>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
          </div>
    </form>

