<div class="container-fluid">
<div class="row">
  <div class="col-md-5">
<p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCustomerRegistration" aria-expanded="false" aria-controls="collapseCustomerRegistration">
      <h1 class="display-6">Customer Registration</h1>
    </button>
  </p>
  <div class="collapse" id="collapseCustomerRegistration">
    <app-customer></app-customer>
  </div>  
  
</div>
  <div class="col-md-5">
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCustomerList" 
      aria-expanded="false" aria-controls="collapseCustomerList" (click)="show_customer_list()">
        <h1 class="display-6">View Customer</h1>
      </button>
    </p>
    <div class="collapse" id="collapseCustomerList">
      <app-customer-list *ngIf="showCustomerList"></app-customer-list>
    </div>  
  </div>
  </div>
</div>

