<ng-container *ngIf="customerList.length==0; then empty; else notEmpty">
</ng-container>
<ng-template #empty>
    <div>
        No Customer Found
    </div>
</ng-template>
<ng-template #notEmpty>
            <table class="table" id="customerListTable">
                <thead>
                  <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cust of customerList; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td (click)="onEdit(cust)">{{cust.name}}</td>
                    <td (click)="onEdit(cust)">{{cust.address}}</td>
                    <td (click)="onEdit(cust)">{{cust.phoneNumber}}</td>
                    <td><a class="btn-text-danger" (click)="onDelete(cust.id)"><i class="fa fa-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
</ng-template>