<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h1 class="display-4">Add Bills</h1>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-add-bills></app-add-bills>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h1 class="display-4">View Bills</h1>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      No Bills now
  </mat-expansion-panel>